<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- 控制台打印输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level [%thread] %X{thread_token} %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 文件日志 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/data/app/applications/log/spring-cloud-demo/springcloud-service-external-users.log</file>
		 
         <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- linux 下后缀为gz, window 下后缀为zip -->
		    <fileNamePattern>/data/app/applications/log/spring-cloud-demo/springcloud-service-external-users_%d{yyyy-MM-dd-HH}_%i.log.zip</fileNamePattern>
	      	<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	    	 	<maxFileSize>100MB</maxFileSize>
	   	  	</timeBasedFileNamingAndTriggeringPolicy>        
		  </rollingPolicy>
		  
        <encoder>
        	<pattern>%date %level [%thread] %X{thread_token} %logger{10} [%file:%line] %msg%n</pattern>
        	<charset>UTF-8</charset>
        </encoder>
    </appender>   

	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>